<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Kaitlin S. Boston, Ed.M.</h2>
		</header>
		<ul class="features">
			<li class="icon fa-university">
				<h3> <a href="/01cv">CV</a> </h3>
				<p> Here you can find my curriculum vitae.</p>
			</li>
			<li class="icon fa-user">
				<h3><a href="/01cv">CV</a></h3>
				<p> Here you can find my curriculum vitae.</p>
			</li>
			<li class="icon fa-code">
				<h3><a href="/03tech">Technical Skills</a></h3>
				<p> Educational methods & skills background </p>
			</li>
			<li class="icon fa-graduation-cap">
				<h3><a href="/04teaching">Teaching</a></h3>
				<p>Teaching experience, syllabus and evaluations.</p>
			</li>
			<li class="icon fa-laptop">
				<h3><a href="/10random">Random links</a></h3>
				<p>Here is a collection of non-academic and academic links that you may find interesting.</p>
			</li>
			<li class="icon fa-envelope">
				<h3>School Location</h3>
				<p> Address: Fairview Primary School <br> Jennings School District <br> 7047 Emma Ave <br> Staint Louis, MO 63136 </p>
				<p> E-mail: <a href = "mailto: ksboston05@gmail.com">KSBoston05@gmail.com</a></p>
			</li>
		</ul>
	</div>
</section>
