<section id="two" class="wrapper alt style2">


	<section class="spotlight">
		<div class="image"><img src="/assets/images/head2.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01resume" class="link">About Kaitlin</a></h2>
			<p>Kaitlin is an elementary (1-6) and special (K-12, mild/moderate cross-categorical) education teacher in Saint Louis, Missouri. Additionally, Kaitlin is a literacy specialist for grades K-12. Originally from western New York, Kaitlin earned both of her degrees in the Buffalo area. First, she attended Niagara University (Vincentian affiliation) for her bachelor’s in elementary and special education, with a focus on literacy (2011). Second, Kaitlin attended the University at Buffalo (SUNY) for her masters of education in literacy (2013). After graduate school, Kaitlin moved to Saint Louis, Missouri, where she started working in the Missouri Schools for the Severely Disabled. In December 2014, Kaitlin began her tenure in the Special School District of St. Louis County, where she has been assigned to Fairview Primary School (Jennings, MO).</p>
		</div>
	</section>

	<section class="spotlight">
		<div class="image"><img src="/assets/images/grad2.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01resume" class="link">New York Teaching Experience</a></h2>
			<p>Kaitlin has worked and volunteered in many public, private, and non-profit schools across western New York. From her undergraduate volunteering in the Niagara Falls City School District and the Niagara Catholic District to her graduate clinical work in SUNY Buffalo's <a href="http://clari.buffalo.edu/" class="link">Center for Literacy and Reading Instruction</a>, Kaitlin is an experienced educator. She's also proud to have tutored students in the Niagara Falls Housing Authority's after-school program. After her student teaching in the Brockport (NY) Central School District (5th grade inclusion) and Holley (NY) Central School District (1st grade RTI), Kaitlin worked in Buffalo, NY at Autism Services, Inc. and The Summit Center, which are both non-profit agencies serving K-12 students with autism and other behavioral challenges.</p>
		</div>
	</section>
	
	<section class="spotlight">
		<div class="image"><img src="/assets/images/paris.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01research" class="link">Dissertation</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel consequat eros. In justo purus, luctus eu nulla vel, commodo molestie leo. Praesent in condimentum risus, nec lobortis nunc. Integer cursus elementum nunc eu vestibulum. Fusce feugiat id dolor facilisis viverra. Nullam porta neque vel hendrerit pulvinar. Mauris sollicitudin orci odio, at volutpat nibh vestibulum quis. Nulla dapibus odio quis libero rutrum, a lacinia lacus dignissim. Aliquam accumsan fermentum magna, ut semper ligula. In et libero sed neque hendrerit fringilla vestibulum in eros. Sed consequat ultrices nibh, a cursus lectus accumsan et. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus lobortis justo sit amet tempor bibendum. Duis lacinia felis lacus, quis tempor risus congue sed. Mauris elementum hendrerit convallis. </p>
		</div>
	</section>
</section>
