<section id="two" class="wrapper alt style2">


	<section class="spotlight">
		<div class="image"><img src="/assets/images/grad2.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01resume" class="link">About Kaitlin</a></h2>
			<p>Kaitlin is an elementary (1-6) and special (K-12, mild/moderate cross-categorical) education teacher in Saint Louis, Missouri. Additionally, Kaitlin is a literacy specialist for grades K-12. A third generation teacher, Kaitlin is originally from western New York, where she earned both of her university degrees. First, she attended Niagara University (Vincentian affiliation) for her bachelor’s in elementary and special education, with a focus on literacy (2011). Second, Kaitlin attended the University at Buffalo (SUNY) for her masters of education in literacy (2013). After graduate school, Kaitlin moved to Saint Louis, Missouri, where she started working in the Missouri Schools for the Severely Disabled. In December 2014, Kaitlin began her tenure in the Special School District of St. Louis County, where she has been assigned to Fairview Primary School (Jennings, MO).</p>
		</div>
	</section>

	<section class="spotlight">
		<div class="image"><img src="/assets/images/head2.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01resume" class="link">New York Experience</a></h2>
			<p>Kaitlin has worked and volunteered in many public, private, and non-profit schools across western New York. From her undergraduate volunteering in the Niagara Falls City School District and the Niagara Catholic District to her graduate clinical work in SUNY Buffalo's <a href="http://clari.buffalo.edu/" class="link">Center for Literacy and Reading Instruction</a>, Kaitlin is an experienced educator. She's also proud to have tutored students in the Niagara Falls Housing Authority's after-school program. After her student teaching in the Brockport (NY) Central School District (5th grade inclusion) and Holley (NY) Central School District (1st grade RTI), Kaitlin worked in Buffalo, NY at Autism Services, Inc. and The Summit Center, which are both non-profit agencies serving K-12 students with autism and other behavioral challenges.</p>
		</div>
	</section>
	
	<section class="spotlight">
		<div class="image"><img src="/assets/images/showme2.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01resume" class="link">"Show Me" Teaching</a></h2>
			<p>Since moving to Saint Louis in 2013, Kaitlin has worked in three different schools and visited many more across eastern Missouri. Her first job with MSSD was at Autumn Hill State School in Union, MO, where Kaitlin lead a classroom of six 9-12 students with severe behavioral and ... challenges. She had a similar assignment in 2014, when she briefly worked at MSSD's Gateway/Hubert Wheeler School in Saint Louis City. </p>
		</div>
	</section>
	
	<section class="spotlight">
		<div class="image"><img src="/assets/images/paris2.jpg" alt="" /></div>
		<div class="content">
			<h2><a href="/01research" class="link">Kaitlin's Life Outside of Work</a></h2>
			<p>Kaitlin was born and raised in rural western New York, outside of Rochester. She lived in the Buffalo-Niagara region for six years during college, during which time she fell in love with Buffalo. In 2011, Kaitlin married her long-time partner, Joshua. Together, Kaitlin and Josh have a son, Charles, and a dog, Lucie. They have lived in Saint Louis, MO since mid-2013, and are proud members of Our Lady of Lourdes Parish in University City, MO. In her spare time, Kaitlin enjoys spending time with family, traveling, camping, wine tasting, cooking (especially Italian, French, & Mexican classics), eating out, and watching basketball.</p>
		</div>
	</section>
</section>
